/* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.blog-content h1,
.blog-content h2,
.blog-content h3 {
  font-family: Abril Fatface;
  font-size: 1.6rem;
  text-align: center;
  margin: 2rem 0;
}

.blog-content ul {
  display: inline-block;
}

.blog-content ul li {
  padding: 0 0.5rem;
  margin: 1rem 0;
  font-weight: 600;
}

.blog-content p {
  padding: 0.5rem;
  line-height: 2;
  margin: 2rem 0;
}

.blog-content a {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(59, 59, 226);
  font-weight: 600;
}
